# SitoBanda - Apache Configuration File

# Basic settings
Options -Indexes -MultiViews
AddDefaultCharset UTF-8
DirectoryIndex index.php index.html

# Enable mod_rewrite for URL rewriting
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Keep the /admin path accessible directly
    RewriteRule ^admin(/.*)?$ - [L]
    RewriteRule ^uploads(/.*)?$ - [L]
    
    # Keep the /album path accessible directly
    RewriteCond %{REQUEST_URI} ^/album
    RewriteRule ^(.*)$ /uploads/$1 [NC,L]
    

    # Keep the /public path accessible directly
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ /public/$1 [NC,L]

</IfModule>
